<div>
    <!-- <form> -->

        <div>
            <mat-form-field appearance="fill">
                <mat-label>your Project name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        
        <div>
            <h1>Editor</h1>
            <div>
                <editor apiKey="no-api-key" id="editorId3" [(ngModel)]="htmlString"
                 [init]="{
             base_url: '/tinymce',
             suffix: '.min',
             height:500,
             width:900,
             statusbar: false,
             menubar: false,             
             toolbar:false}" initialValue="" [inline]="false" plugins="lists code" tagName="div">
            </editor>
            </div>
        </div>

        <div>
            <button mat-stroked-button color="primary">Save Project</button>
        </div>
    <!-- </form> -->

</div>  