
<div>
    <div class="tab-items">
        <div>Create Angular Components</div>
        <div><button mat-button color="primary" (click)="ShowApiController()">Create API Controllers</button></div>
        <div [hidden]="isShowWebApiController">
            <label>Project  Name: </label><input [(ngModel)]="apiProjName" name="apiProjName">
            <label>Enter controller name: </label> <input [(ngModel)]="controllerName" name="controllerName">
            <button mat-button color="primary" (click)="CreateApiController()">Create</button>
        </div>
        <div>Create API Model Class</div>
    </div>
</div>
<div>
    <!-- <form> -->
<!-- 
    -->
    <h1>Project Name: <strong>{{codeProvidersService.projName}}</strong></h1>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Your component name</mat-label>
            <input matInput [(ngModel)]="componentName">
        </mat-form-field>
    </div>
    <div>
        <h1>Editor</h1>
        <div class="editor-style">
            <app-input-elements class="P-l-2"></app-input-elements>
            <div>
                <editor apiKey="no-api-key" id="editorId3" [(ngModel)]="htmlString" [init]="{
             base_url: '/tinymce',
             suffix: '.min',
             height:500,
             width:900,
             statusbar: false,
             menubar: false,             
             toolbar:false}" initialValue="" [inline]="false" plugins="lists code" tagName="div">
                </editor>
            </div>
        </div>

    </div>

    <div>
        <button class="button-style" mat-stroked-button color="primary" (click)="onSavePrject()">Save Project</button>
    </div>
    <!-- </form> -->

</div>