<div class="sketch-to-code">
    <mat-drawer-container class="container-properties">
    <mat-drawer-content>
        No code software platform which allows users to create and deploy applications and manage data without writing any code. It provides a drag-and-drop interface and pre-built templates and modules to help users quickly and easily build functional apps. Using this platform, user can design the UI ,add the required validations, link the pages together .The tool will automatically generate deployable frontend and backend files required to bring up the solution. The goal is to make app development accessible to a wider range of people and to streamline the development process for those with limited coding skills.
    
    </mat-drawer-content>
    </mat-drawer-container>
    <div>

    </div>
  
  </div>
