.checkbox-items{
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.checkbox{
    padding: 10px;
}

.div-items{
    display: block;
    padding: 10px;
}
.m-t-2{
    margin-top: 16px;
}