<div class="sketch-to-code">

  <mat-toolbar class="toolbar-properties">
    <button class="mat-icon-button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title-properties">sketchToCode</span>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-properties">
    <mat-drawer #drawer mode="side">
      <app-input-elements></app-input-elements>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</div>